.post-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post {
    flex: 1;
    flex-basis: 10%;
    text-align: center;
    vertical-align: middle;
    // padding: 20px;
    cursor: pointer;
}

@media (min-width: 481px) and (max-width: 1024px) {
    .post {
        flex: 1;
        flex-basis: 50%;
    }
  }

@media only screen and (max-width: 480px) {
    .post {
        flex: 1;
        flex-basis: 100%;
    }
  }